<% provide(:title, "Blog") %>

<div class="jumbotron center jumbotron-blog">
  <h1>Blog</h1>
</div>

<div class="row">
  <div class="col-md-4 delete-button">
    <% if current_user.try(:admin?) %>
      <%= link_to "New post", posts_new_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-8">
      <div class="post-preview">
        <h1 class="post-title"><%= link_to post.title, post %></h1>
      </div>
      <div class="post-meta">
        <p class="date date-home">Posted on <%= post.created_at.strftime("%d/%m/%y, %H:%M") %></p>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate id:"will-paginate"%>
